.input-field-ic {
  align-items: flex-start;
  border: 1px solid;
  border-radius: 61px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 32px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.input-field-ic .frame-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.input-field-ic .frame-3 {
  align-items: center;
  display: inline-flex;
  flex-grow: 1;
  gap: 12px;
  position: relative;
  min-width: 0;
}

.input-field-ic .login-id {
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  flex-grow: 1;
  display: flex;
  min-width: 0;
}

.input-field-ic .text-wrapper {
  color: var(--variable-collection-grayscale-08);
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  flex-shrink: 0;
}

.input-field-ic .ic-32-2tone {
  position: relative !important;
  outline: none;
  font-size: inherit;
  color: inherit;
}

.input-field-ic.property-1-disalbe {
  background-color: var(--variable-collection-grayscale-01);
  border-color: var(--variable-collection-grayscale-03);
  height: 72px;
}

.input-field-ic.property-1-focus {
  background-color: #ffffff;
  border-color: var(--variable-collection-grayscale-04);
  height: 72px;
}

.input-field-ic.property-1-active {
  background-color: #ffffff;
  border-color: var(--variable-collection-grayscale-04);
  height: 72px;
}

.input-field-ic.property-1-default {
  background-color: #ffffff;
  border-color: var(--variable-collection-grayscale-02);
  height: 72px;
}

.input-field-ic.property-1-error {
  background-color: #ffffff;
  border-color: var(--variable-collection-main-03);
}

.input-field-ic.property-1-disalbe .login-id {
  color: var(--variable-collection-grayscale-03);
}

.input-field-ic.property-1-focus .login-id {
  color: var(--variable-collection-grayscale-03);
}

.input-field-ic.property-1-active .login-id {
  color: var(--variable-collection-grayscale-07);
}

.input-field-ic.property-1-default .login-id {
  color: var(--variable-collection-grayscale-03);
}

.input-field-ic.property-1-error .login-id {
  color: var(--variable-collection-grayscale-07);
}

.input-field {
  border: none;
  background: none;
  width: 100%;
  outline: none;
  font-size: inherit;
  color: inherit;
}
