.login-screen {
  background-color: #eff6fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.login-screen .login-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-screen .login-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-screen .overlap-group-4 {
  background-color: #ffffff;
  border: 1px solid var(--variable-collection-grayscale-02);
  border-radius: 50px;
  width: 100%;
  max-width: 550px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-screen .text-2 {
  color: var(--variable-collection-gray-color05);
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.56px;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
}

.login-screen .text-wrapper-26 {
  color: #5c6a75;
  letter-spacing: -0.16px;
}

.login-screen .text-wrapper-27 {
  color: #1e2327;
  letter-spacing: -0.16px;
}

.login-screen .text-3 {
  color: var(--variable-collection-gray-color05);
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
}

.login-screen .logo-3 {
  border-radius: 50px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 8px;
}

.login-screen .INU-logistics-3 {
  height: auto;
  max-width: 100%;
  width: 166px;
}

.login-screen .group-8 {
  height: 16px;
  position: relative;
  width: 56px;
  display: flex;
  justify-content: space-between;
}

.login-screen .ellipse-13 {
  background-color: #0177fb;
  border-radius: 8.09px;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.login-screen .ellipse-14 {
  background-color: #ffffff;
  border: 2.74px solid;
  border-color: #0177fb;
  border-radius: 8.09px;
  height: 16px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 16px;
}

.login-screen .ellipse-15 {
  background-color: #0177fb;
  border-radius: 8.09px;
  height: 16px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 16px;
}

.login-screen .field-btn-2 {
  align-items: stretch;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login-screen .input-field-ic-instance {
  gap: 10px !important;
  justify-content: unset !important;
}

.login-screen .design-component-instance-node-2 {
  align-self: stretch !important;
  width: 100% !important;
}

.login-screen .property-1-password {
  height: 32px !important;
  position: relative !important;
  width: 32px !important;
}

.login-screen .btn-instance {
  margin-left: -6.00px !important;
  margin-right: -6.00px !important;
}

.login-screen .error-message {
  width: 100%;
  text-align: center;
  color: red;
  margin-bottom: 10px;
}
